{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}

{% block body %}
    <div class="container">

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }} alert alert-{{ label }} alert-dismissible fade show mt-3 mb-3" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}    

        <h2 class="mt-4 mb-3">TODO APP</h2>

        <div class="row mb-3">
            <div class="col">
                {{ form(form, {'method': 'POST'}) }}
            </div>            
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td>ID</td>
                    <td>Description</td>
                    <td>Created</td>
                    <td></td>
                </tr>                        
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>
                            <input class="checkbox form-check-input" type="checkbox" data-todo-id="{{ todo.id }}" value="" {% if todo.isCompleted is same as(TRUE) %} checked {% endif %} >
                        </td>                    
                        <td> {{ todo.id }} </td>
                        <td> {{ todo.description }} </td>
                        <td> {{ todo.createdAt|date('d-m-Y H:i:s') }} </td>
                        <td>
                            <!-- Update form -->
                            <form method="post" action="/update/{{ todo.id }}" class="d-inline-block">
                                <input type="hidden" name="id" value="{{ todo.id }}" />
                                <input type="hidden" name="isCompleted" id="isCompleted_{{ todo.id }}" value="{{ todo.isCompleted }}" />
                                <button type="submit" class="btn btn-success"><i class="bi bi-pencil"></i> Update</button>
                            </form>

                            <!-- Delete form (We always want the user to confirm when deleting something) -->
                            <form onsubmit="return confirm('Do you really want to delete the todo?');" method="post" action="/delete/{{ todo.id }}" class="d-inline-block">
                                <input type="hidden" name="id" value="{{ todo.id }}" />
                                <button type="submit" class="btn btn-danger ms-3"><i class="bi bi-trash"></i> Delete</button>
                            </form>                                                          
                        </td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>

        <script>        
            // When updating the checkbox - update the hidden field for the checkbox in the update form
            document.querySelectorAll('.checkbox').forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    const todoId = this.dataset.todoId;
                    const isChecked = this.checked;
                    const hiddenInput = document.querySelector(`#isCompleted_${todoId}`);
                    hiddenInput.value = isChecked ? '1' : '0';
                });
            });
        </script>
    </div>
{% endblock %}